fastapi== 0.115.12       # You can change the version as per your project requirements
mysql-connector-python==9.3.0  # Use the appropriate version if needed
openai== 1.82.0       # Use the latest version if possible
uvicorn
python-dotenv
PyJWT== 2.10.1
